<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="" class="brand-link">
        <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>


    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item menu-open">
                <a href="#" class="nav-link ">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard

                    </p>
                </a>

            </li>
            
            <li class="nav-item menu-open">
                <a class="nav-link masterlink">
                  <i class="nav-icon fa-solid fa-recycle"></i>
                  <p>
                    Masters
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a routerLink="/department" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Department</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/designation" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Designation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/category" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Category</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/bankmaster" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Bank</p>
                    </a>
                  </li>
                  
                </ul>
              </li>

            <li class="nav-item menu-open">
                <a href="#" class="nav-link ">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Transaction

                    </p>
                </a>

            </li>

            <li class="nav-item menu-open">
              <a href="#" class="nav-link ">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                      Reports

                  </p>
              </a>

          </li>
          <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Help

                </p>
            </a>

        </li>
        </ul>
    </nav>
</aside>

